
    <div class="bgimage">
      {{!-- <div class="title">
       
        <h1 style="font-family: 'Shrikhand', cursive; font-size:40px;">About Us</h1>
       
      </div> --}}

 {{!-- one profile      --}}


        <div class="container-fluid" id="headshots" style="background-color:black;margin-top:60px;">

          <div class="row" id="bio">
<div class=".col-sm-">

<img src="/images/headshot1.jpg" class="rounded float left" alt="Pic of Louie" >

</div>
          
          <div class="col-md-auto" style="color:white;">
          
          <h3>Louie</h3>
<p>I am the developer of this website wanting to start a new project involving the creatio of board game meetups. I created this website in hopes of creating an easier way for people to connect to friends</p>

<p>and find board games that they want to play together.</p>
          
          </div>
        

{{!-- <span style="float:right;margin-right:10%">


</span> --}}


 

  
</div>
    

    </div>
    

