#bgcolour{
background-color:floralwhite;
background-size:cover; 
top:5%;
left:0;
bottom:0;
right:0;
position: absolute; 
z-index: -5;
background-repeat:space;

}


.bgimage {
    /* background: url("../images/pic.jpg"); */
    background-color:mintcream;

    background-size:cover; 
    top:5%;
    left:0;
    bottom:0;
    right:0;
    position: absolute; 
    z-index: -5;
    background-repeat:space;
 
 }

 .title{
    text-shadow: 2px 2px 5px black ;
     color:white;
     margin-left:15px;
     margin-right:15px;
    bottom:20%;
    background-color:black;
    border-radius:12px;
    box-shadow:2px;
    margin-top:10px;
    margin-left:20px;
 }

 .mainbody{
    text-shadow: 2px 2px 5px black ;
    color:white;
    margin-left:15px;
    margin-right:15px;
    background-color:black;
    border-radius:12px;
    box-shadow:2px;
    
 }

 #headshots img{
   padding-top:20px;
   padding-bottom: -20px;
    border-radius:12px;
    margin:5px;
    margin-right:0;
    margin-bottom:-5px;
   height:215px;;
   width:215px;
 


 }

 #bio{
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgb(255, 255, 255,.05)), to(rgba(0, 0, 0, 1)));
  position: absolute;
  top:0;
  padding-top:30px;
  width:100%;
  z-index: 1;

 }



